.git
.gitignore
.gitattributes
.editorconfig
.env
.env.*
!.env.example
node_modules
vendor
npm-debug.log*
yarn-error.log*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/storage
tests
docs
.phpunit.result.cache
